*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-inline: 10%;
    height: 100vh;
    background-color: #eee;
}

header h1{
    padding-top: 5%;
    font-size: 4rem;
    font-family: monospace;
    color: #113;
    text-align: center;
}

.generator{
    display: grid;
    grid-template-columns: 24% 50% 20%;
    grid-template-rows: 70% 25%;
    column-gap: 2%;
    row-gap: 7%;
    padding-top: 5%;
    height: 70%;
}

.parts-selection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1 / 3;
    height: 100%;
}

#image{
    aspect-ratio: 1;
    width:20rem;
    margin: auto;
    border: 1px solid;
}

.functionalities{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.functionalities button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 15%;
    height: 3rem;
    border-image: linear-gradient(to right, #c77, #77c);
    border-image-slice: 1;
    border-width: 3px;
    font-weight: bold;
    font-size: large;
    background-color: #fff;
}

.functionalities button:hover{
    background-color: #a9a;
}

.style-selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 2 / 4;
}

.styling-btn{
    height: 3rem;
    border-radius: 1.7rem;
    border: 2.5px solid #99f;
    background-color: transparent;
    font-size: .8rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.styling-btn:hover{
    background-color: #99b;
}

.styling-btn:focus{
    background-color: #77c;
}

.style-selection .styling-btn{
    width: 20%;
    margin: 2%;
    border-color: #944;
}

.style-selection .styling-btn:hover{
    background-color: #b99;
}

.style-selection .styling-btn:focus{
    background-color: #c77;
}

@media (max-width: 800px){
    header h1{
        font-size: 3rem;
    }

    .generator{
        display: flex;
        flex-direction: column;
    }

    canvas{
        width: 80%;
    }

    .functionalities{
        flex-direction: row;
    }

    .functionalities button{
        width: 50%;
        margin: 3px;
    }

    .parts-selection{
        order: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }

    .style-selection{
        justify-content: start;
    }

    .styling-btn{
        min-width: 6rem;
        margin: 1%;
        font-size: 13px;
    }
}

@media (max-width: 450px){
    header h1{
        font-size: 2rem;
    }
    #image{
        width: 90%;
    }
    .functionalities button{
        font-size: .8rem;
    }
    .styling-btn{
        font-size: .65rem;
    }
}
