*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-inline: 10%;
    height: 100vh;
    background-color: #eee;
}

header h1{
    padding-top: 5%;
    font-size: 4.5rem;
    font-family: monospace;
    color: #113;
}

.generator{
    display: grid;
    grid-template-columns: 24% 50% 20%;
    grid-template-rows: 65% 25%;
    column-gap: 3%;
    row-gap: 7%;
    padding-top: 2%;
    height: 70%;
}

.parts-selection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-row: 1 / 3;
    height: 100%;
}

.image{
    height: 100%;
    aspect-ratio: 1;
    margin: auto;
    background-color: #113;
}

.functionalities{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.functionalities button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 15%;
    height: 3rem;
    border: 0px;
    font-weight: bold;
    font-size: large;
    background-color: #fff;
}

.functionalities button:hover{
    background-color: #a9a;
}

.types-selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 2 / 4;
}

.styling-btn{
    height: 3rem;
    border-radius: 1.7rem;
    border: 2px solid #99f;
    background-color: transparent;
}

.styling-btn:hover{
    background-color: #99b;
}

.types-selection .styling-btn{
    width: 20%;
    margin: 2%;
    border-color: #944;
}
